{
  "Azure": {
    "SubscriptionId": "<your-azure-subscription-id>",
    "Location": "<your-azure-location>",
    "AllowResourceGroupCreation": true,
    "ResourceGroup": "<your-resource-group-name>",
  },
  "Demo": {
    "VmApiSize": "Standard_D2als_v7",
    "WindowsAppServiceWorkerCount": 2
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  }
}
